<div class="settings-layout">
  <nav class="settings-nav">
    <mat-nav-list>
      <a mat-list-item routerLink="flow-vectors" routerLinkActive="active-link">
        <mat-icon matListItemIcon>track_changes</mat-icon>
        <span matListItemTitle>Flow Vectors</span>
      </a>
      <a mat-list-item routerLink="session-settings" routerLinkActive="active-link">
        <mat-icon matListItemIcon>timer</mat-icon>
        <span matListItemTitle>Session Settings</span>
      </a>
      <a mat-list-item routerLink="balance-settings" routerLinkActive="active-link">
        <mat-icon matListItemIcon>account_balance_wallet</mat-icon>
        <span matListItemTitle>Balance Settings</span>
      </a>
      <a mat-list-item routerLink="categories" routerLinkActive="active-link">
        <mat-icon matListItemIcon>category</mat-icon>
        <span matListItemTitle>Categories</span>
      </a>
      <a mat-list-item routerLink="data" routerLinkActive="active-link">
        <mat-icon matListItemIcon>storage</mat-icon>
        <span matListItemTitle>Data</span>
      </a>
    </mat-nav-list>
  </nav>
  <div class="settings-content">
    <router-outlet />
  </div>
</div>
